<div class="sidebar-container">
  <div class="sidebar-header">
    <h2>Pagina no me acuerdo el nombre</h2>
  </div>
  <div class="sidebar-content">
    <button pButton label="Home" severity="help" routerLink="/" class="sidebar-button"></button>
    <button pButton label="Iniciar Sesión" severity="danger" routerLink="/auth/login" class="sidebar-button"></button>
    <button pButton label="Registrarse" severity="secondary" routerLink="/auth/register" class="sidebar-button"></button>
  </div>
</div>