.auth-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.field {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
}

.field label {
    margin-bottom: 0.5rem;
    font-weight: bold;
}

.actions {
    display: flex;
    justify-content: flex-end;
    margin-top: 1rem;
}
